Import the numpy and pandas packages using the standard namespace abbreviations `np` and `pd`.

In [ ]:
# Enter your solution here

Run the magic command in the code cell below.

In [ ]:
%load_ext google.colab.data_table

Import the `drive` function from the colab module in the google package.

In [ ]:
# Enter your solution here

Mount your Google Drive with the code below. Remember to click in the link and sign in to your Google Drive account on the new tab that will open up. Copy the security key and paste it into the textbox and hit the ENTER or RETURN key.

In [ ]:
drive.mount('/gdrive', force_remount=True)

Navigate to the data folder using a string and the `%cd` magic command. Hint: The code will follow this structure '/gdrive/My Drive/DATA SCIENCE/DATA'.

In [ ]:
# Enter your solution here

Imprt the `data.csv` file in the data directory and assign it to the computer variable `df`.

In [ ]:
# Enter your solution here

Display the first five rows of the dataframe object to the screen using the `head` method.

In [ ]:
# Enter your solution here

Display the first five rows of the dataframe object using indexing.

In [ ]:
# Enter your solution here

Use the `shape` attribute to return a tuple containing the number of rows and column in the dataframe object.

In [ ]:
# Enter your solution here

Display the `HR` column to the screen. Remember that the resukt is a pandas series object.

In [ ]:
# Enter your solution here

Display the `HR` and `sBP` columns to the screen. Remember that the result is another pandas dataframe object. Hint: Use the `loc` method and the `:` symbol as shorthand for all the rows. Use a comma to separate the rows and column and pass the required column names as two strings in a list.

In [ ]:
# Enter your solution here

What are the sample space elements (unique elements) of the `Group` column?

In [ ]:
# Enter your solution here

Display the `HR` values for those who are indicated to be `Active` in the `Group` column.

In [ ]:
# Enter your solution here

Display the `HR` values for those in the `Active` group, who are $50$ years and older.

In [ ]:
# Enter your solution here

Add the `HR` values to the display from above to ensure that all the ages are $50$ and up.

In [ ]:
# Enter your solution here

Display the ages and survey choice of those that did not choose $1$ or $5$ in the `Survey` column.

In [ ]:
# Enter your solution here

Display the `Age` and `HR` columns for all IT consultants and Energy managers. Hint: The vocatuons are `IT consultant` and `Energy manager`.

In [ ]:
# Enter your solution here

Display the dataframe object but only for those that have the term `professional` in the job title.

In [ ]:
# Enter your solution here

Create a new column called `lowercase` where all letters in the `Vocation' column are turned to lowercase letters. Hint: See if you can find teh solution online.

In [ ]:
# Enter your solution here

Display the new colun to the screen.

In [ ]:
# Enter your solution here